@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
	--bg-color: #fdfdfd;
	--title-color: rgba(204, 204, 204, 0.25);
	--field-color: #f5f5f5;
	--button-color: #2d2d2d;
	--button-text: #cad0d5;
	--label-color: #7b7b7b;
	--font-color: #000000;
	--input-color: ;
	--input-font: ;
	--hype-color: #3b99fd;
	--tap-color: rgba(0, 0, 0, .5);
	--font: 'Roboto', sans-serif;
	--trans-time: 0.2s;
}
panel>input[type="submit"],
fieldset>a>div>div>input[type="checkbox"],
fieldset>a>div>div>select {
    -moz-appearance: none;
    -webkit-appearance: none
}
fieldset>div,
panel>block,
fieldset>a>div>div>label.detail {
    -webkit-user-select: text;
    user-select: text;	
    -moz-user-select: element;
    -ms-user-select: element;
    user-select: element
}
fieldset>a[href] {
    -webkit-tap-highlight-color: var(--tap-color);
    -webkit-tap-highlight-color: transparent;
}
* {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: var(--font-color);
    font-family: var(--font);
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
	transition: color var(--trans-time);
}
.clearfix:after,
fieldset>a>div>div:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.clearfix,
fieldset>a>div>div {
    display: block
}
* {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
img {
    -ms-interpolation-mode: bicubic;
    image-rendering: auto;
    image-rendering: optimizeQuality
}
img.crisp {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges
}
strong {
    font-weight: bold
}
em {
    font-style: italic
}
sup {
    font-size: smaller;
    position: relative;
    top: -6px;
    margin-top: -6px
}
pre {
    font-family: monospace
}
html.cytyle-faux {
    font-family: Helvetica, Arial
}
html.cytyle-faux #cytyle-metric {
    font-size: 16px
}
html.cytyle-flat {
    font-family: "Helvetica Neue", Helvetica, Arial
}
html.cytyle-flat #cytyle-metric {
    font-size: 17px
}
body {
	background: var(--bg-color);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    margin: 0 auto
}
body.white {
    background-color: var(--bg-color);
}
.cytyle-faux body.pinstripe {
    background: var(--bg-color);
	/*background: #c7ced5 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAIAAACdaSOZAAAAFElEQVQIHWM4euYKErp0+tINIAIAuHQQ4rDrv5YAAAAASUVORK5CYII=')*/
}
.cytyle-flat body.pinstripe {
    background: var(--bg-color);
	transition: background var(--trans-time);
}
body {
    width: 412px;
}
@media screen and (max-device-width: 767px) {
    body {
        width: 100%
    }
}
.default {
    color: #aab
}
.button {
    background-color: var(--button-color);
    border: none;
	border-radius: 4px;
    color: var(--button-text);
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
	transition: background-color var(--trans-time);
	transition: color var(--trans-time);
}
.link {
	color: var(--hype-color);
	transition: color var(--trans-time);
}
a:visited {
	color: var(--hype-color);
}
a:hover {
	color: var(--font-color);
}
.headerImg {
	position: relative;
	z-index:2;
}
.hiddenText {
	left: 0;
	position: fixed;
	text-align: center;
	top: 30px;
	width: 100%;
	color: var(--font-color);
	z-index:1;
}
input {
	background-color: var(--input-color);
	color: var(--input-font);
}
div.cy-table {
    margin: 0 auto;
    max-width: 568px
}
panel {
    display: block;
    margin: 0 auto
}
panel>hr {
    margin: 9px auto;
    text-align: center;
    border-bottom: 1px solid transparent;
    width: 60%
}
.cytyle-faux panel>hr {
    color: #4d4d70
}
.cytyle-flat panel>hr {
    color: #6d6d72
}
.cytyle-faux panel>hr {
    border-bottom-color: #4d4d70
}
.cytyle-flat panel>hr {
    border-bottom-color: #6d6d72
}
panel>block {
    display: block;
    background-color: var(--title-color);
    margin-top: 9px;
    margin-bottom: 9px;
	transition: background-color var(--trans-time);
}
.cytyle-faux panel>block {
    border: 1px dashed #999
}
.cytyle-flat panel>block {
    border: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair panel>block {
        border-width: 0.5px
    }
}
.cytyle-faux panel>block {
    margin-left: 9px;
    margin-right: 9px
}
.cytyle-faux panel>block {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px
}
.cytyle-flat panel>block {
    border-left: none;
    border-right: none
}
panel>fieldset {
    position: relative;
    display: block;
    background-color: var(--field-color);
    margin-top: 9px;
    margin-bottom: 9px;
	transition: background-color var(--trans-time);
}
.cytyle-faux panel>fieldset {
    border-top: 1px solid #999
}
.cytyle-flat panel>fieldset {
    border-top: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair panel>fieldset {
        border-top-width: 0.5px
    }
}
.cytyle-faux panel>fieldset {
    border-left: 1px solid #999
}
.cytyle-flat panel>fieldset {
    border-left: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair panel>fieldset {
        border-left-width: 0.5px
    }
}
.cytyle-faux panel>fieldset {
    border-right: 1px solid #999
}
.cytyle-flat panel>fieldset {
    border-right: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair panel>fieldset {
        border-right-width: 0.5px
    }
}
.cytyle-flat panel>fieldset {
    border-left: none;
    border-right: none
}
.cytyle-faux panel>fieldset {
    margin-left: 9px;
    margin-right: 9px
}
.cytyle-faux panel>fieldset {
    font-size: 16px
}
.cytyle-flat panel>fieldset {
    font-size: 17px
}
.cytyle-faux panel>fieldset {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    max-width: 302px
}
panel>fieldset.terminal {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    padding: 10px
}
panel>label {
    display: block;
    position: relative;
    top: 4px
}
.cytyle-faux panel>label {
    margin: 9px;
    padding-left: 12px
}
.cytyle-flat panel>label {
    margin: 9px 15px
}
.cytyle-faux panel>label {
    color: #4d4d70
}
.cytyle-flat panel>label {
    color: var(--label-color);
	transition: color var(--trans-time);
}
.cytyle-faux panel>label {
    text-shadow: rgba(255, 255, 255, 0.75) 1px 1px 0;
    font-weight: bold;
    font-size: 16px
}
.cytyle-flat panel>label {
    text-transform: uppercase;
    font-size: 16px
}
panel>footer {
    display: block;
    margin: 9px;
    font-size: 12px;
    text-align: center
}
.cytyle-faux panel>footer {
    color: #4d4d70
}
.cytyle-flat panel>footer {
    color: #6d6d72
}
panel>iframe {
    display: block;
    margin: -9px 0
}
panel>iframe:first-child,
panel>iframe+iframe {
    margin-top: 0
}
panel>div a {
    color: #586c90;
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.75) 1px 1px 0
}
div.cytyle-app {
    position: relative;
    padding: 9.5px;
    text-rendering: optimizeLegibility
}
.cytyle-faux div.cytyle-app {
    background-color: #e5e5e5;
    background-image: -moz-linear-gradient(top, #fff 0%, #ccc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ccc));
    background-image: -webkit-linear-gradient(top, #fff 0%, #ccc 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #ccc 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
    border-bottom: 1px solid #fff
}
.cytyle-flat div.cytyle-app {
    background-color: #f2f2f2;
    border: 1px solid;
    border-color: #a9a9a9 transparent #c2c2c2 transparent
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair div.cytyle-app {
        border-width: 0.5px
    }
}
div.cytyle-app>div.icon {
    display: inline-block;
    vertical-align: middle;
    height: 64px;
    width: 64px;
    background-size: 64px 64px
}
div.cytyle-app>div.left {
    display: inline-block;
    vertical-align: middle;
    padding-left: 9.5px
}
div.cytyle-app>div.left>label {
    font-size: 14px
}
.cytyle-faux div.cytyle-app>div.left>label {
    color: #9b59b6;
    text-shadow: #fff 0px 1px 0;
    font-weight: bold
}
.cytyle-flat div.cytyle-app>div.left>label {
    color: #000
}
div.cytyle-app>div.left>label+label {
    font-size: 12px
}
.cytyle-faux div.cytyle-app>div.left>label+label {
    color: #6a6a6a
}
.cytyle-flat div.cytyle-app>div.left>label+label {
    color: #303030
}
div.cytyle-app>div.right {
    float: right
}
div.cytyle-app>div.right>div {
    display: table-cell;
    height: 64px;
    vertical-align: middle
}
div.cytyle-app a {
    display: inline-block
}
.cytyle-faux div.cytyle-app a {
    background-color: #e5e5e5;
    background-image: -moz-linear-gradient(top, #fff 0%, #ccc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ccc));
    background-image: -webkit-linear-gradient(top, #fff 0%, #ccc 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #ccc 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
    border: 1px solid #afafaf;
    border-radius: 3px;
    box-shadow: 0px 1px 0px #fff;
    color: #6a6a6a;
    font-size: 13px;
    font-weight: bold;
    padding: 0.375em 0.75em;
    text-shadow: #fff 0px 1px 0
}
.cytyle-flat div.cytyle-app a {
    color: #007aff;
    font-size: 18px;
    padding: 0 7px
}
panel>input[type="submit"] {
    display: block;
    background-color: #fff;
    border: 1px solid blue;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    color: blue;
    font-weight: bold;
    text-align: center;
    margin: 9px auto;
    width: 302px
}
.cytyle-faux panel>input[type="submit"] {
    font-size: 20px
}
.cytyle-flat panel>input[type="submit"] {
    font-size: 22px
}
.cytyle-faux panel>input[type="submit"] {
    padding: 11px 15px
}
.cytyle-flat panel>input[type="submit"] {
    padding: 10px 15px
}
panel>input[type="submit"]:active {
    background-color: blue;
    color: #fff
}
fieldset>div,
panel>block {
    font-size: 16px
}
.cytyle-faux fieldset>div,
.cytyle-faux panel>block {
    padding: 0 13px
}
.cytyle-flat fieldset>div,
.cytyle-flat panel>block {
    padding: 0 20px
}
fieldset>div>*,
panel>block>* {
    margin-top: 9px;
    margin-bottom: 9px
}
fieldset>div>p,
panel>block>p {
    text-align: left
}
fieldset>div>ul,
panel>block>ul {
    list-style-position: inside
}
.cytyle-faux fieldset>div>hr,
.cytyle-faux panel>block>hr {
    border-top: 1px dashed #999
}
.cytyle-flat fieldset>div>hr,
.cytyle-flat panel>block>hr {
    border-top: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair fieldset>div>hr,
    .cytyle-flat.cytyle-hair panel>block>hr {
        border-top-width: 0.5px
    }
}
fieldset>div a,
panel>block a {
    color: blue
}
fieldset>a,
fieldset>div,
fieldset>textarea {
    display: block;
    position: relative
}
.cytyle-faux panel>fieldset>a,
.cytyle-faux panel>fieldset>div,
.cytyle-faux panel>fieldset>textarea {
    border-bottom: 1px solid #999
}
.cytyle-flat panel>fieldset>a,
.cytyle-flat panel>fieldset>div,
.cytyle-flat panel>fieldset>textarea {
    border-bottom: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair panel>fieldset>a,
    .cytyle-flat.cytyle-hair panel>fieldset>div,
    .cytyle-flat.cytyle-hair panel>fieldset>textarea {
        border-bottom-width: 0.5px
    }
}
div.cy-table>fieldset>a,
div.cy-table>fieldset>div,
div.cy-table>fieldset>textarea {
    border-bottom: 1px solid #e0e0e0
}
.cytyle-faux panel>fieldset>a:first-child,
.cytyle-faux panel>fieldset>div:first-child,
.cytyle-faux panel>fieldset>textarea:first-child {
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px
}
.cytyle-faux panel>fieldset>a.left:first-child,
.cytyle-faux panel>fieldset>div.left:first-child,
.cytyle-faux panel>fieldset>textarea.left:first-child {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0
}
.cytyle-faux panel>fieldset>a.right:nth-child(2),
.cytyle-faux panel>fieldset>div.right:nth-child(2),
.cytyle-faux panel>fieldset>textarea.right:nth-child(2) {
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px
}
.cytyle-faux panel>fieldset>a:last-child,
.cytyle-faux panel>fieldset>div:last-child,
.cytyle-faux panel>fieldset>textarea:last-child {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px
}
.cytyle-faux panel>fieldset>a.left:nth-last-child(2),
.cytyle-faux panel>fieldset>div.left:nth-last-child(2),
.cytyle-faux panel>fieldset>textarea.left:nth-last-child(2) {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px
}
.cytyle-faux panel>fieldset>a.right:last-child,
.cytyle-faux panel>fieldset>div.right:last-child,
.cytyle-faux panel>fieldset>textarea.right:last-child {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0
}
fieldset>img.close {
    position: absolute;
    z-index: 1;
    top: -11px;
    left: -11px;
    content: url(closebox@2x.png);
    width: 30px;
    height: 29px
}
fieldset>a>div>div>label>p {
    display: inline;
    text-rendering: optimizeLegibility
}
.cytyle-faux fieldset>a>div>div>label:first-child {
    font-weight: bold
}
fieldset>a>div>div>label.detail {
    display: inline-block;
    float: right;
    text-align: right
}
fieldset>a>div>div>label.price {
    display: inline-block;
    float: right;
    background-color: #2463de;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    color: #fff !important;
    padding: 0.2em 0.4em;
    margin: -0.2em -0.4em
}
fieldset>a>div>div>label.verbose {
    display: inline-block;
    float: right;
    font-size: 10px;
    position: relative;
    margin: -3.5px;
    text-align: center
}
fieldset>a>div>div>label.lower {
    display: block;
    font-size: 13px
}
fieldset>a>div>div>label.url {
    display: block;
    font-size: 14px;
    font-style: italic;
    word-wrap: break-word
}
fieldset>a>span.extra {
    position: absolute;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 0.2em 0.4em;
    background-color: #ccc;
    color: #fff;
    font-size: 12px;
    font-weight: bold
}
panel>fieldset>a>span.extra {
    top: -1px;
    right: -1px
}
div.cy-table>fieldset>a>span.extra {
    top: 0px;
    right: 0px
}
fieldset>a>span.badge {
    position: absolute;
    bottom: 0px;
    right: 0px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    padding: 0.2em 0.4em;
    background-color: #da0812;
    color: #fff;
    font-size: 11px;
    font-weight: bold
}
.cytyle-faux panel>fieldset>a:first-child>span.extra {
    -moz-border-radius-topright: 9px;
    -webkit-border-top-right-radius: 9px;
    border-top-right-radius: 9px
}
.cytyle-faux panel>fieldset>a:last-child>span.badge {
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px
}
fieldset {
    clear: both
}
fieldset.more {
    clear: none
}
.cytyle-faux fieldset.more {
    margin-right: 9px
}
.cytyle-faux fieldset.half>a>div>div label,
.cytyle-faux fieldset.more>a>div>div label {
    margin-right: -11px
}
.cytyle-flat fieldset.half>a>div>div label,
.cytyle-flat fieldset.more>a>div>div label {
    margin-right: -10px
}
fieldset>a>img.icon {
    position: absolute;
    height: auto;
    max-height: 30px;
    width: 30px;
    min-width: 30px;
	border-radius: 8px;
}
.cytyle-faux fieldset>a>img.icon {
    margin: 6px 6px
}
.cytyle-flat fieldset>a>img.icon {
    margin: 6px 15px
}
.cytyle-faux fieldset>a>img.icon+div {
    margin-left: 42px
}
.cytyle-flat fieldset>a>img.icon+div {
    margin-left: 51px
}
fieldset>a>img.icon+div>div {
    min-height: 42px
}
.cytyle-faux fieldset>a>div {
    margin-left: 15px
}
.cytyle-flat fieldset>a>div {
    margin-left: 15px
}
.cytyle-faux fieldset>a>div>div {
    padding: 11px 15px 11px 0
}
.cytyle-flat fieldset>a>div>div {
    padding: 10px 15px 10px 0
}
fieldset>a[type="profile"]>img.icon {
    position: absolute;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: none;
    min-width: none;
    margin: 0
}
.cytyle-faux panel>fieldset>a[type="profile"]>img.icon {
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px
}
fieldset>a[type="profile"]>img.icon+div {
    margin-left: 50px
}
.cytyle-faux fieldset>a[type="profile"]>img.icon+div {
    border-left: 1px solid #999
}
.cytyle-flat fieldset>a[type="profile"]>img.icon+div {
    border-left: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair fieldset>a[type="profile"]>img.icon+div {
        border-left-width: 0.5px
    }
}
fieldset>a[type="profile"]>img.icon+div>div {
    min-height: 50px
}
fieldset>a[type="profile"]>div>div {
    padding: 6px
}
fieldset>a[type="thumb"]>img.icon {
    position: absolute;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: none;
    min-width: none;
    margin: 0
}
.cytyle-faux panel>fieldset>a[type="thumb"]>img.icon {
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px
}
fieldset>a[type="thumb"]>img.icon+div {
    margin-left: 64px
}
.cytyle-faux fieldset>a[type="thumb"]>img.icon+div {
    border-left: 1px solid #999
}
.cytyle-flat fieldset>a[type="thumb"]>img.icon+div {
    border-left: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair fieldset>a[type="thumb"]>img.icon+div {
        border-left-width: 0.5px
    }
}
fieldset>a[type="thumb"]>img.icon+div>div {
    min-height: 64px
}
fieldset>a[type="thumb"]>div>div {
    padding: 13px
}
div.cy-table>label {
    height: 23px;
    padding: 1px 6px;
    display: block;
    font-weight: bold
}
.cytyle-faux div.cy-table>label {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAXCAYAAADKmiUPAAAASklEQVQIHQ3BoRECARDAwCR3RT3t0ACWUhkEEoFgKIHf5Xq7vzuOC32+P1JpRlqjE7VLUzRKM1EzdKItKiklR9qWVEoJpYRezwd/hakIzN7IcU4AAAAASUVORK5CYII=');
    background-repeat: repeat-x no-repeat-y;
    -webkit-background-size: 1px 23px;
    background-size: 1px 23px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-faux div.cy-table>label {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAuCAYAAAAC2MhpAAAAcklEQVQYV33OPQ6AIAwF4P5wBOIRNF7NG7h6UXVxc0DjwqShgIYGmb70vQJmGKcNnmMaayGg71qBOy/B7g4BIdaAyBGsIorgn3WiAjliyk8kQJ5AGWlQ7FDagryl7gEgNdGdMvpMFN4/1zsJ87oIvPcBN23ED1QZEXz1AAAAAElFTkSuQmCC')
    }
}
.cytyle-flat div.cy-table>label {
    background-color: #f7f7f7
}
.cytyle-faux fieldset>.left {
    border-right: 1px solid #999
}
.cytyle-flat fieldset>.left {
    border-right: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair fieldset>.left {
        border-right-width: 0.5px
    }
}
fieldset>.left,
fieldset>.right {
    float: left;
    width: 50%
}
fieldset.half {
    float: left
}
panel>fieldset.half {
    margin-top: 0
}
.cytyle-faux panel>fieldset.half {
    min-width: 146.5px
}
.cytyle-flat panel>fieldset.half {
    min-width: 50%
}
.cytyle-faux fieldset.half>a {
    border-right: 1px solid #999
}
.cytyle-flat fieldset.half>a {
    border-right: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair fieldset.half>a {
        border-right-width: 0.5px
    }
}
.cytyle-faux fieldset.half>a {
    border-right: none
}
div.cy-table>fieldset.half {
    min-width: 50%
}
.cytyle-faux fieldset>a[href]>div {
    padding-right: 15px
}
.cytyle-flat fieldset>a[href]>div {
    padding-right: 15px
}
fieldset>a>div>div>select,
fieldset>a[href]>div>div {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAANCAYAAACQN/8FAAAAUElEQVQoz2NggIKysrI6EGbAB6CK/kNxHT6FLUgKQbiaaorb0RRXUK4YKCENxG+RFD4BYiFsim6jKVKhnSIWID6CVxGSYhWoAtyK0BTjVAQA7b9/uRuNojcAAAAASUVORK5CYII=');
    background-position: right center;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 13px;
    background-size: 10px 13px
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    fieldset>a>div>div>select,
    fieldset>a[href]>div>div {
        /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAaCAYAAAC3g3x9AAAAn0lEQVRIx73VUQqAIBAEUCm6WWIQ/hZBh+nmtkGGyKKzuiTMj8FD1sFMCMHkoTVTVu5bLRxmKdcbMVrCmtAUcwwmRiM2Uc4CCKPpCVXQfIbdKHfLXSi/CaKUAQIF6EYZIbAVrdcAQ/eIYmUVoJrgAYESTOtSvvn9VxsQ81CxUUzzcfDFuWti0ge2iuUnXHoxboauB0N+oyKs1EPbgj25AROsvvXJNxxhAAAAAElFTkSuQmCC') */
    }
}                                                        /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.cytyle-faux fieldset>a>div>div>select,
.cytyle-faux fieldset>a[href]>div>div {
    padding-right: 25px
}
.cytyle-flat fieldset>a>div>div>select,
.cytyle-flat fieldset>a[href]>div>div {
    padding-right: 25px
}
fieldset.dark>a>div>div>select,
fieldset.dark>a[href]>div>div {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAANCAYAAACQN/8FAAAAUElEQVQoz2NggILOzs46EGbAB6CK/kNxHT6FLUgKQbiaaorb0RRXUK4YKCENxG+RFD4BYiFsim6jKVKhnSIWID6CVxGSYhWoAtyK0BTjVAQADpCNh/CoZr0AAAAASUVORK5CYII=')
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    fieldset.dark>a>div>div>select,
    fieldset.dark>a[href]>div>div {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAaCAYAAAC3g3x9AAAAnElEQVRIx73U0QqAIAwFUCn6s6Qgei2CPqY/N4MMkU2u2+jhgi44hk5dCMERGWMW5ls1VNHHXG+a0RomQvPJRGDNaBoMMWcFhNF8YoKWBTVKFVUotxKKdiiIoltMj4IiFOktBN0Tit4AGLUEDxSEMatD+fbv17ZBsBVtbBQzexxYrATVWA6aYOUfzlqM2sNJg3Gn7KVYrQ+9BHtyAx0sbnA+jpPNAAAAAElFTkSuQmCC')
    }
}
fieldset>a>div>div>input[type="checkbox"] {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    float: right
}
fieldset>a>div>div>input[type="checkbox"]:checked {
    background-color: #000
}
.cytyle-faux fieldset>a>div>div>input[type="checkbox"] {
    margin-right: -4px
}
.cytyle-flat fieldset>a>div>div>input[type="checkbox"] {
    margin-right: -5px
}
.cytyle-faux fieldset>a>div>div>input[type="checkbox"] {
    border: 1px solid #999
}
.cytyle-flat fieldset>a>div>div>input[type="checkbox"] {
    border: 1px solid #c8c7cc
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-flat.cytyle-hair fieldset>a>div>div>input[type="checkbox"] {
        border-width: 0.5px
    }
}
.cytyle-faux fieldset>a>div>div>input[type="checkbox"] {
    height: 1.25em;
    width: 1.25em
}
.cytyle-flat fieldset>a>div>div>input[type="checkbox"] {
    height: 1.29412em;
    width: 1.29412em
}
fieldset>a>div>div>input[type="password"],
fieldset>a>div>div>input[type="text"] {
    float: right;
    text-align: right
}
fieldset>a>div>div>select {
    background-color: transparent;
    text-align: right;
    direction: rtl;
    float: right;
    min-width: 100px;
    text-indent: 0.01px;
    text-overflow: ""
}
fieldset>a>div>div>select::-ms-expand {
    display: none
}
fieldset>a>div>div>select>option {
    direction: ltr
}
fieldset>textarea {
    padding: 10px;
    width: 100%;
    min-width: 300px
}
fieldset>textarea.left,
fieldset>textarea.right {
    min-width: 150px
}
.cytyle-faux fieldset>a>div>div>label+label,
.cytyle-faux fieldset>a>div>div>input,
.cytyle-faux fieldset>a>div>div>select,
.cytyle-faux fieldset>textarea {
    color: #193250
}
.cytyle-flat fieldset>a>div>div>label+label,
.cytyle-flat fieldset>a>div>div>input,
.cytyle-flat fieldset>a>div>div>select,
.cytyle-flat fieldset>textarea {
    color: #2b85f5 /*màu url repo*/
}
fieldset>a.cytyle-up {
    -webkit-transition: background 1s ease-in
}
fieldset>a.cytyle-up p {
    -webkit-transition: color 1s ease-in
}
fieldset>a.cytyle-dn label,
fieldset>a.cytyle-dn span,
fieldset>a.cytyle-in label,
fieldset>a.cytyle-in span {
    background: none !important
}
.cytyle-faux fieldset>a.cytyle-dn p,
.cytyle-faux fieldset>a.cytyle-dn p span,
.cytyle-faux fieldset>a.cytyle-in p,
.cytyle-faux fieldset>a.cytyle-in p span {
    color: #fff !important
}
.cytyle-flat fieldset>a.cytyle-dn p,
.cytyle-flat fieldset>a.cytyle-dn p span,
.cytyle-flat fieldset>a.cytyle-in p,
.cytyle-flat fieldset>a.cytyle-in p span {
    color: #000 !important
}
.cytyle-faux fieldset>a.cytyle-dn,
.cytyle-faux fieldset>a.cytyle-in {
    background-color: #0374e2 !important;
    background-image: -moz-linear-gradient(top, #058cdf 0%, #015de6 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #058cdf), color-stop(100%, #015de6)) !important;
    background-image: -webkit-linear-gradient(top, #058cdf 0%, #015de6 100%) !important;
    background-image: -ms-linear-gradient(top, #058cdf 0%, #015de6 100%) !important;
    background-image: linear-gradient(to bottom, #058cdf 0%, #015de6 100%) !important
}
.cytyle-faux fieldset>a.cytyle-dn[href]>div>div,
.cytyle-faux fieldset>a.cytyle-in[href]>div>div {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAANCAYAAACQN/8FAAAAUElEQVQoz2NggILOzs46EGbAB6CK/kNxHT6FLUgKQbiaaorb0RRXUK4YKCENxG+RFD4BYiFsim6jKVKhnSIWID6CVxGSYhWoAtyK0BTjVAQADpCNh/CoZr0AAAAASUVORK5CYII=')
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .cytyle-faux fieldset>a.cytyle-dn[href]>div>div,
    .cytyle-faux fieldset>a.cytyle-in[href]>div>div {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAaCAYAAAC3g3x9AAAAnElEQVRIx73U0QqAIAwFUCn6s6Qgei2CPqY/N4MMkU2u2+jhgi44hk5dCMERGWMW5ls1VNHHXG+a0RomQvPJRGDNaBoMMWcFhNF8YoKWBTVKFVUotxKKdiiIoltMj4IiFOktBN0Tit4AGLUEDxSEMatD+fbv17ZBsBVtbBQzexxYrATVWA6aYOUfzlqM2sNJg3Gn7KVYrQ+9BHtyAx0sbnA+jpPNAAAAAElFTkSuQmCC')
    }
}
.cytyle-flat fieldset>a.cytyle-dn,
.cytyle-flat fieldset>a.cytyle-in {
    background-color: #d9d9d9 !important
}
.cytyle-flat fieldset>a.cytyle-dn img,
.cytyle-flat fieldset>a.cytyle-in img {
    -webkit-transform: translateZ(0);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}
p,
input[type="password"],
input[type="text"],
select {
    position: relative
}
.cytyle-faux p,
.cytyle-faux input[type="password"],
.cytyle-faux input[type="text"],
.cytyle-faux select {
    line-height: 1.25
}
.cytyle-flat p,
.cytyle-flat input[type="password"],
.cytyle-flat input[type="text"],
.cytyle-flat select {
    line-height: 1.29412
}
.cytyle-faux panel>block p,
.cytyle-faux fieldset>div>p {
    margin-left: -0.0625em;
    margin-right: -0.0625em
}
.cytyle-flat panel>block p,
.cytyle-flat fieldset>div>p {
    margin-left: -0.05882em;
    margin-right: -0.05882em
}
.cytyle-faux fieldset>a>div>div>label:first-child,
.cytyle-faux fieldset>a>div>div>label.lower,
.cytyle-faux fieldset>a>div>div>label.url {
    left: -0.0625em
}
.cytyle-flat fieldset>a>div>div>label:first-child,
.cytyle-flat fieldset>a>div>div>label.lower,
.cytyle-flat fieldset>a>div>div>label.url {
    left: -0.05882em
}

panel>block>p
{
    text-align: center !important;

}
